.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    line-height: 48px;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.filters button:hover {
    opacity: 0.9;
}


.cat {
    height: 100%;
    width: 25%;
    float:left;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.title {
    margin-left: 30px;
    font-weight: 600;
    margin-bottom: 3px;
}

.sub-title {
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3px;
}

.popover {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    position: relative;
}

.popover li{
    list-style: none;
}

.popover li h2{
    font-size: 16px;
}

.popover ul{
    list-style: none;
    padding-left: 20px;
}
.amenities:hover .popover{
    display: block;
}

.locations:hover .popover{
    display: block;
}